################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/obj/Release/netcoreapp3.0
/ConsoleApp1/obj/project.nuget.cache
